<!DOCTYPE html>
<html>
<head>
    <title>Tornado Web Sockets</title>
    <script>
        var ws;

        function onLoad() {
            ws = new WebSocket("ws://localhost:5050/websocket");

            ws.onmessage = function (e) {
                alert(e.data);
            };
        }

        function sendMessage() {
            ws.send(document.getElementById('msg').value);
        }
    </script>
</head>
<body onload="onLoad();">
    <h3>Hello {{name}}!</h3>
    <b>Hostname:</b> {{hostname}}<br/>
    <b>Visits:</b> {{visits}}
    <hr/>
    <strong>Message to Send:</strong>&nbsp;<input type="text" id="msg" maxlength="25" />
    <input type="button" onclick="sendMessage();" value="Send" />
</body>
</html>